name: backend

on: [push]

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
    - name: define run url
      run: echo "ACTION_URL=https://github.com/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}" >> $GITHUB_ENV
    - uses: actions/checkout@v4
    - name: Copy .env.sample to .env
      run: cp backend/.env.sample backend/.env
    - name: Docker Build
      run: docker compose build
    - name: Docker Compose Up
      run: docker compose up -d
    - name: Run Pytest
      run: |
        docker compose exec -T api python -m pytest tests/ -v
    - name: Run Lint
      run: |
        docker compose exec -T api python3 -m ruff check src/ tests/ --config pyproject.toml
